ocr_env\
venv
outputs
data\
.idea
__pycache__
input_pdfs
denoised
.gitignore
.env
results
data
outputs_backup
dataset
outputs_14-08
outputs_17-08
outputs_13-08
outputs_03-09
test_outputs
lap_venv
models
repomix-output.xml
